/*NotoSansKR*/
@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-Thin.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-Thin.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-Thin.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-Thin.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-Thin.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-Light.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-Light.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-Light.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-Light.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-DemiLight.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-DemiLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-DemiLight.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-DemiLight.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-DemiLight.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-DemiLight.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-DemiLight.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 350;
	font-style: normal;
}

@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-Regular.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-Regular.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-Regular.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-Regular.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-Medium.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-Medium.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-Medium.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-Medium.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-Medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-Bold.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-Bold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-Bold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-Bold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "NotoSansKR";
	src: url("/portfolio/fonts/NotoSans-Black.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/NotoSans-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/NotoSans-Black.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/NotoSans-Black.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/NotoSans-Black.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/NotoSans-Black.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/NotoSans-Black.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}

/*Pretendard*/
@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-Thin.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Thin.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Thin.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-Thin.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Pretendard-Thin.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-ExtraLight.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-ExtraLight.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-ExtraLight.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-ExtraLight.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-ExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */		 
		 url("/portfolio/fonts/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-Light.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Light.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Light.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-Light.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-Regular.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Regular.woff") format("woff"), /* Modern Browsers */		 
		 url("/portfolio/fonts/Pretendard-Regular.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-Regular.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-Medium.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Medium.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Medium.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-Medium.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Pretendard-Medium.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-SemiBold.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-SemiBold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-SemiBold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-SemiBold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */		 
		 url("/portfolio/fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-Bold.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Bold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Bold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-Bold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-ExtraBold.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-ExtraBold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-ExtraBold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-ExtraBold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */		 
		 url("/portfolio/fonts/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard";
	src: url("/portfolio/fonts/Pretendard-Black.woff2") format("woff2"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Black.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Pretendard-Black.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Pretendard-Black.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Pretendard-Black.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Pretendard-Black.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
	font-weight: 900;
	font-style: normal;
}

/*Poppins*/
@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-Thin.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-Thin.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-Thin.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-Thin.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-Thin.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-ExtraLight.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-ExtraLight.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-ExtraLight.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-ExtraLight.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-ExtraLight.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-ExtraLight.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-Light.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-Light.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-Light.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-Light.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-Regular.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-Regular.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-Regular.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-Regular.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-Medium.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-Medium.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-Medium.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-Medium.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-Medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-SemiBold.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-SemiBold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-SemiBold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-SemiBold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-SemiBold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-Bold.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-Bold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-Bold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-Bold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-ExtraBold.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-ExtraBold.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-ExtraBold.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-ExtraBold.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("/portfolio/fonts/Poppins-Black.eot"); /* IE9 Compat Modes */
	src: url("/portfolio/fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("/portfolio/fonts/Poppins-Black.otf") format("opentype"), /* Open Type Font */
		 url("/portfolio/fonts/Poppins-Black.svg") format("svg"), /* Legacy iOS */
		 url("/portfolio/fonts/Poppins-Black.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/portfolio/fonts/Poppins-Black.woff") format("woff"), /* Modern Browsers */
		 url("/portfolio/fonts/Poppins-Black.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 900;
	font-style: normal;
}
