@media screen and (max-width: 991px) {
    header h1 {
        font-size: 4em;
    }

    main {
        flex-direction: column;
        gap: 2em;
    }

    nav {
        max-width: 100%;
    }

    nav .list_box {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    nav .list_box .list {
        flex: 1 0 0;
    }
    
    .skill #container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .project #container article {
        align-items: start;
        flex-direction: column;
        gap: 2em;
    }

    .project #container article .text_box {
        order: 2;
    }

    .project #container article .img_box {
        order: 1;
    }
}