:root {
    --index-gap : 20px;
    --index-radius: 1.5rem;
    --grey: #5E5D5E;
    --mid-grey: #3f3f3f;
    --c-width: 500px;
    --c-height: 70px;
    --c-depth: 70px;
}

body {
    background-color: #F4F4F4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30svh;
    border-bottom: 1px solid #E1E1E1;
}

header h1 {
    font-size: 5.25em;
    font-weight: 500;
}

section {
    width: 100%;
    padding: 0 1.875em;
}

main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 1.25em;
    padding: 1.875em 1.875em 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
}

/* nav S: */
nav {
    width: 100%;
    max-width: 15em;
    position: relative;
}

nav .list_box {
    display: flex;
    flex-direction: column;
    gap: .625em;
    width: 100%;
    max-width: 13.75em;
    position: sticky;
    top: 4.625em;
}

nav .list_box .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    background-color: #EAEAEA;
    border-radius: .125em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: #201D1D;
    font-weight: 600;
    letter-spacing: -.02em;
    cursor: pointer;
}

nav .list_box .button.on {
    background-color: #201D1D;
    color: #EAEAEA;
}

nav .list_box .button .button-label:nth-of-type(2) {
    position: absolute;
    transform: rotate(calc(20deg * -1));
    transform-origin: 50% 3700%;
}

nav .list_box .button:hover .button-label:nth-of-type(1) {
    position: absolute;
    transform: rotate(calc(20deg * 2));
    transform-origin: 50% 3700%;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav .list_box .button:hover .button-label:nth-of-type(2) {
    position: absolute;
    transform: rotate(0deg);
    transform-origin: 50% 3700%;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* nav E: */

/* index 페이지 S: */
.index main {
    padding-bottom: 1.875em;
}

.index #container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    aspect-ratio: 1/1;
}

.index #container section {
    padding: 0;
}

.index #container article.box {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    background-color: #FBFBFB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--index-radius);
}

/* left_s S: */
.index #container section.left_s {
    display: flex;
    flex-direction: column;
    gap: var(--index-gap);
    width: calc((100% - var(--index-gap) * 2) / 3);
}

.index #container section.left_s .box.google {
    height: calc((100% - var(--index-gap)) / 10 * 4);
    padding: 0;
    overflow: hidden;
}

.index #container section.left_s .box.hover {
    width: 100%;
    height: calc((100% - var(--index-gap)) / 10 * 6);
    border-radius: var(--index-radius);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.4s ease;
    overflow: hidden;
}

.index #container section.left_s .box.hover .item {
    width: 100%;
    border-radius: var(--index-radius) var(--index-radius) 0 0;
    position: absolute;
    left: 0;
    bottom: 5%;
}

.index #container section.left_s .box.hover .item.item1 {
    height: 95%;
    background-color: #141519;
    z-index: 1;
}

.index #container section.left_s .box.hover .item.item2 {
    height: 75%;
    background-color: #4B4C50;
    z-index: 2;
}

.index #container section.left_s .box.hover .item.item3 {
    height: 50%;
    background-color: #BDBEC0;
    z-index: 3;
}

.index #container section.left_s .box.hover .item.item4 {
    height: 30%;
    background-color: #F3F3F3;
    z-index: 4;
    bottom: 0;
}

.index #container section.left_s .box.hover .item .bar {
    width: 30%;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.index #container section.left_s .box.hover .item .ti_box {
    padding: 2.5em;
}

.index #container section.left_s .box.hover .item .ti_box .text_box.w p {
    color: #ffffff;
}

.index #container section.left_s .box.hover .item .ti_box .text_box.b p {
    color: #141519;
}

.index #container section.left_s .box.hover .item .ti_box .text_box .tit {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

.index #container section.left_s .box.hover .item .ti_box .text_box .desc {
    margin-top: 15px;
    font-size: 16px;
    font-size: 400;
    line-height: 1.3;
}
/* left_s E: */

.index #container section.right_s {
    display: flex;
    flex-direction: column;
    gap: var(--index-gap);
    width: calc((100% - var(--index-gap) * 2) / 3 * 2);
}

.index #container section.right_s .top_s {
    display: flex;
    flex-direction: column;
    gap: var(--index-gap);
    height: calc((100% - var(--index-gap)) / 10 * 8.5);
}

.index #container section.right_s .top_s .rec_s {
    display: flex;
    justify-content: space-between;
    gap: var(--index-gap);
    flex: 1;
    width: 100%;
}

.index #container section.right_s .top_s .rec_s a {
    flex: 1;
}

.index #container section.right_s .top_s .rec_s a .box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.index #container section.right_s .top_s .rec_s a .box .bg {
    width: 100%;
    height: 100%;
    background: no-repeat center / cover;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.index #container section.right_s .top_s .rec_s a:hover .box .bg {
    opacity: 1;
}

.index #container section.right_s .top_s .rec_s a .box.project .bg {
    background-image: url(../img/project_bg.jpg);
}

.index #container section.right_s .top_s .rec_s a .box.skill .bg {
    background-image: url(../img/skill_bg.jpg);
}

.index #container section.right_s .top_s .rec_s a .box .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 100;
}

.index #container section.right_s .top_s .rec_s a .box .text p {
    color: #141519;
    font-weight: 600;
    line-height: 1;
}

.index #container section.right_s .top_s .rec_s a:hover .box .text p {
    color: #ffffff;
}

.index #container section.right_s .top_s .rec_s a .box .text .count {
    font-size: 50px;
}

.index #container section.right_s .top_s .rec_s a .box .text .title {
    font-size: 18px;
}

.index #container section.right_s .top_s .rec_s a .box .more_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;
    background-color: #141519;
    border-radius: 50%;
    position: relative;
    z-index: 100;
}

.index #container section.right_s .top_s .rec_s a:hover .box .more_btn {
    background-color: #ffffff;
}

.index #container section.right_s .top_s .rec_s a .box .more_btn span {
    padding-bottom: 4px;
    font-size: 30px;
    color: #ffffff;
    line-height: 1;
}

.index #container section.right_s .top_s .rec_s a:hover .box .more_btn span {
    color: #141519;
}

.index #container section.right_s .top_s .box.motion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    perspective: 900px;
    visibility: hidden;
    overflow: hidden;
}

.index #container section.right_s .top_s .box.motion .hi {
    position: relative;
    z-index: 1;
    font-size: 100px;
    font-stretch: 400%;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
}

.index #container section.right_s .top_s .box.motion .hi__cuboid {
    position: relative;
    width: var(--c-width);
    height: var(--c-height);
    transform-style: preserve-3d;
    margin: 30px 0;
}

.index #container section.right_s .top_s .box.motion .face {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 0.5px solid var(--grey); /* 입체감을 위한 경계선 */
}

.index #container section.right_s .top_s .box.motion .face--front {
    width: var(--c-width);
    height: var(--c-height);
    transform: translateZ(calc(var(--c-depth) / 2));
}

.index #container section.right_s .top_s .box.motion .face--back {
    width: var(--c-width);
    height: var(--c-height);
    transform: translateZ(calc(var(--c-depth) / -2)) rotateY(180deg) rotate(180deg);
}

.index #container section.right_s .top_s .box.motion .face--left {
    width: var(--c-depth);
    height: var(--c-height);
    transform: translateX(calc(var(--c-depth) / -2)) rotateY(-90deg);
}

.index #container section.right_s .top_s .box.motion .face--right {
    width: var(--c-depth);
    height: var(--c-height);
    transform: translateX(calc(var(--c-width) - (var(--c-depth) / 2))) rotateY(90deg);
}

.index #container section.right_s .top_s .box.motion .face--top {
    width: var(--c-width);
    height: var(--c-depth);
    transform: translateY(calc(var(--c-depth) / -2)) rotateX(90deg);
    background: white;
    color: black;
}

.index #container section.right_s .top_s .box.motion .face--bottom {
    width: var(--c-width);
    height: var(--c-depth);
    transform: translateY(calc(var(--c-height) - (var(--c-depth) / 2))) rotateX(-90deg);
    background: white;
    color: black;
}

.index #container section.right_s .top_s .box.motion .hi__word {
    margin: 0;
    transform: translateY(-5px);
}

.index #container section.right_s .top_s .box.motion .hi__base {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.index #container section.right_s .top_s .box.motion .hi__base-plate {
    width: 100%;
    height: 100%;
    background: black;
    border: 1px solid var(--grey);
}

.index #container section.right_s .top_s .box.motion .hi__location {
    position: absolute;
    margin: 0;
    font-size: 20px;
    font-stretch: 400%;
    font-weight: 400;
}

.index #container section.right_s .top_s .box.motion .hi__location--lat {
    top: 50%;
    left: 0;
    transform: rotate(-90deg) translateX(10px);
}

.index #container section.right_s .top_s .box.motion .hi__location--long {
    top: 50%;
    right: 0;
    transform: rotate(90deg) translateX(-10px);
}

.index #container section.right_s .bottom_s {
    display: flex;
    gap: var(--index-gap);
    width: 100%;
    height: calc((100% - var(--index-gap)) / 10 * 1.5);
}

.index #container section.right_s .bottom_s .box.type {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

#typed {
    padding-left: 6px;
}

.index #container section.right_s .bottom_s a:nth-child(2) {
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 1/1;
}

.index #container article.box .octicon {
    width: 100%;
}
/* index 페이지 E: */

/* project 페이지 S: */
.project #container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 2em;
}

.project #container article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}

.project #container a:hover article {
    box-shadow: none;
}

.project #container article .text_box {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project #container article .text_box li {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.project #container article p {
    word-break: keep-all;
}

.project #container article p.title {
    font-size: 1.475em;
    font-weight: 600;
}

.project #container article p.tag {
    flex-shrink: 0;
    font-size: 1em;
    font-weight: 600;
}

.project #container article .img_box {
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.project #container article .img_box img,
.project #container article .img_box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.project #container article .img_box video,
.project #container article .img_box:hover img {
    opacity: 0;
}

.project #container article .img_box:hover video {
    opacity: 1;
}
/* project 페이지 E: */

/* skil 페이지 S: */
.skill #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.skill #container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.skill #container article .img_box {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.skill #container article .img_box img,
.skill #container article .img_box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.skill #container article .img_box video,
.skill #container article .img_box:hover img {
    opacity: 0;
}

.skill #container article .img_box:hover video {
    opacity: 1;
}

.skill #container article p {
    font-weight: 600;
}
/* skil 페이지 E: */