body {
  margin: 0;
  font-family: Noto Sans KR,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline;
  overflow-x: hidden;
}