.date-picker-selector {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
}
.date-picker-selector:hover {
  cursor: pointer;
}
